doc/MotionClouds_VideoFigures.aux
doc/MotionClouds_VideoFigures.fdb_latexmk
doc/MotionClouds_VideoFigures.fls
doc/MotionClouds_VideoFigures.log
doc/MotionClouds_VideoFigures.out
doc/MotionClouds.aux
doc/MotionClouds.bbl
doc/MotionClouds.blg
doc/MotionClouds.fdb_latexmk
doc/MotionClouds.fls
doc/MotionClouds.log
doc/MotionClouds.out
doc/MotionCloudsSupplementary.aux
doc/MotionCloudsSupplementary.fdb_latexmk
doc/MotionCloudsSupplementary.fls
doc/MotionCloudsSupplementary.log
doc/MotionCloudsSupplementary.out
doc/MotionCloudsSupplementary.synctex.gz
doc/MotionClouds.synctex.gz
